@import 'tailwindcss';
@plugin "daisyui" {
  themes: black;
};

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: radial-gradient(
    gray 1px,
    transparent 1px
  );
  background-size: 10rem 10rem;
  z-index: 90;
}