@import 'tailwindcss';
@plugin "daisyui" {
  themes: night;
};

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-800, currentColor);
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: transparent; 
  overflow-x: hidden;
  z-index: 90;
}